In [1]:
import pandas as pd

In [4]:
dfs = pd.read_excel('Results.xlsx', sheet_name=None)

# View the first sheet
dfs['Table 1'].head()

,"Election Commission of India, State Election,2025 to the legislative assembly of Bihar",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,10 - DETAILED RESULTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,CANDIDATE NAME,GENDER,AGE,CATEGORY,NaN,NaN,PARTY,NaN,SYMBOL,...,TOTAL VALID VOTES POLLED\n+ NOTA,NaN,NaN,NaN,NaN,NaN,NaN,% VOTES POLLED,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,GENERAL,NaN,POSTAL,NaN,TOTAL,NaN,NaN,OVER VALID VOTES\n+ NOTA,OVER TOTAL ELECTORS,NaN
3,Constituency ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MALE,NaN,NaN,NaN,NaN,59.0,GENERAL,NaN,INC,NaN,...,NaN,107374.0,NaN,356.0,NaN,NaN,107730.0,NaN,46.11,32.5

In [5]:
dfs['Table 1'].iloc[:15, :]

,"Election Commission of India, State Election,2025 to the legislative assembly of Bihar",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,10 - DETAILED RESULTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,CANDIDATE NAME,GENDER,AGE,CATEGORY,NaN,NaN,PARTY,NaN,SYMBOL,...,TOTAL VALID VOTES POLLED\n+ NOTA,NaN,NaN,NaN,NaN,NaN,NaN,% VOTES POLLED,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,GENERAL,NaN,POSTAL,NaN,TOTAL,NaN,NaN,OVER VALID VOTES\n+ NOTA,OVER TOTAL ELECTORS,NaN
3,Constituency ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MALE,NaN,NaN,NaN,NaN,59.0,GENERAL,NaN,INC,NaN,...,NaN,107374.0,NaN,356.0,NaN,NaN,107730.0,NaN,46.11,32.50
5,MALE,NaN,NaN,NaN,NaN,45.0,GENERAL,NaN,JD(U),NaN,...,NaN,105771.0,NaN,284.0,NaN,NaN,106055.0,NaN,45.39,32.00
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NOTA,NaN,...,NaN,6391.0,NaN,9.0,NaN,NaN,6400.0,NaN,2.74,1.93
7,MALE,NaN,NaN,NaN,NaN,61.0,GENERAL,NaN,BSP,NaN,...,NaN,5294.0,NaN,18.0,NaN,NaN,5312.0,NaN,2.27,1.60
8,MALE,NaN,NaN,NaN,NaN,67.0,GENERAL,NaN,IND,NaN,...,NaN,2426.0,NaN,0.0,NaN,NaN,2426.0,NaN,1.04,0.73
9,6 Rajesh Sharma MALE,NaN,NaN,37,GENERAL,NaN,NaN,LSMP,NaN,Binoculars,...,2301,NaN,2,NaN,2303,NaN,NaN,0.99,0.69,NaN
10,7 Surendra Ram MALE,NaN,NaN,60,GENERAL,NaN,NaN,IND,NaN,Laptop,...,1850,NaN,2,NaN,1852,NaN,NaN,0.79,0.56,NaN
11,8 Azharuddin MALE,NaN,NaN,30,GENERAL,NaN,NaN,IND,NaN,Dolli,...,1553,NaN,1,NaN,1554,NaN,NaN,0.67,0.47,NaN
12,TURN OUT,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL:,NaN,NaN,...,232960,NaN,672,NaN,233632,NaN,NaN,-,70.49,NaN
13,Ansari,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Constituency ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Page 1,NaN,NaN,NaN,NaN

In [6]:
df = pd.read_excel(
    'Results.xlsx',
    sheet_name='Table 1',
    header=1
)

In [7]:
df.head()
df.columns

Index(['10 - DETAILED RESULTS', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20'],
      dtype='object')

In [8]:
df = df.dropna(axis=1, how='all')

In [10]:
df = df.rename(columns={
    'CANDIDATE NAME': 'candidate',
    'GENDER': 'gender',
    'AGE': 'age',
    'CATEGORY': 'category',
    'PARTY': 'party',
    'TOTAL VALID VOTES POLLED': 'votes'
})

In [13]:
# Convert age and votes columns to numeric (handle cases where columns might have different names)
if 'age' in df.columns:
    df['age'] = pd.to_numeric(df['age'], errors='coerce')
if 'votes' in df.columns:
    df['votes'] = pd.to_numeric(df['votes'], errors='coerce')

In [15]:
df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   10 - DETAILED RESULTS  11 non-null     object
 1   Unnamed: 1             1 non-null      object
 2   Unnamed: 2             1 non-null      object
 3   Unnamed: 3             4 non-null      object
 4   Unnamed: 4             4 non-null      object
 5   Unnamed: 5             4 non-null      float64
 6   Unnamed: 6             4 non-null      object
 7   Unnamed: 7             5 non-null      object
 8   Unnamed: 8             5 non-null      object
 9   Unnamed: 9             4 non-null      object
 10  Unnamed: 10            5 non-null      object
 11  Unnamed: 11            6 non-null      object
 12  Unnamed: 12            5 non-null      float64
 13  Unnamed: 13            5 non-null      object
 14  Unnamed: 14            5 non-null      float64
 15  Unnamed: 15            5 non-null      object
 16  Unnamed: 16            1 non-null      object
 17  Unnamed: 17            5 non-null      float64
 18  Unnamed: 18            6 non-null      object
 19  Unnamed: 19            10 non-null     object
 20  Unnamed: 20            5 non-null      float64
dtypes: float64(5), object(16)
memory usage: 2.4+ KB

10 - DETAILED RESULTS     3
Unnamed: 1               13
Unnamed: 2               13
Unnamed: 3               10
Unnamed: 4               10
Unnamed: 5               10
Unnamed: 6               10
Unnamed: 7                9
Unnamed: 8                9
Unnamed: 9               10
Unnamed: 10               9
Unnamed: 11               8
Unnamed: 12               9
Unnamed: 13               9
Unnamed: 14               9
Unnamed: 15               9
Unnamed: 16              13
Unnamed: 17               9
Unnamed: 18               8
Unnamed: 19               4
Unnamed: 20               9
dtype: int64